<div class="containerAboutMe">
  <div class="widthContainer">
    <div class="contentAboutMe">
      <span class="headerAboutMe">{{ 'aboutMe.title' | translate }}</span>

      <span class="discriptionAboutMe"
        >{{ 'aboutMe.description' | translate }}</span
      >

      <div class="button"><a href="#contact">{{ 'aboutMe.button' | translate }}</a></div>
    </div>

    <div class="imgContainer">
      <img src="/assets/img/klein.jpg" alt="" />
      <a href="#mySkills" class="sektionArrowLeft">
        <img src="/assets/img/arrow_left.png" alt="" />
      </a>
    </div>
  </div>
</div>
