<div class="containerAboutMe">
  <div class="widthContainer">
    <div class="contentAboutMe">
      <span class="headerAboutMe">About me</span>

      <span class="discriptionAboutMe"
        >Hi, I'm Björn ten Eicken, a front-end developer from near Trier,
        Germany. I have always been interested in IT technology in the field of
        web and so I decided to specialize in Angular and Javascript. I have
        gained a lot of experience in the last year by creating many projects
        and I am sure I can help you with my experience in your company.</span
      >

      <div class="button"><a href="#contact">Let's talk</a></div>
    </div>

    <div class="imgContainer">
      <img src="/assets/img/passbild_gross.png" alt="" />
      <a href="#mySkills" class="sektionArrowLeft">
        <img src="/assets/img/arrow_left.png" alt="" />
      </a>
    </div>
  </div>
</div>
