<div class="contentAboutMe">
  <div class="containerAboutMe">
    <div class="headerAboutMe">
      <span>About me</span>
    </div>
    <div class="discriptionAboutMe">
      <span
        >Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consequatur
        deserunt dolor repellat. Consequuntur possimus at nobis dignissimos
        itaque in, pariatur quis? Commodi dolor consequuntur illo dolores quam
        ad sed atque.</span
      >
    </div>
    <button>Let's talk</button>
  </div>
  <div>
    <img src="/assets/img/profile.png" alt="" />
    <div class="sektionArrowLeft" ><img src="/assets/img/arrow_left.png" alt="" /></div>
  </div>
</div>
