.content{
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(255, 252, 243);
}
.containerMySkill {
  display: flex;
  justify-content: center;
  background: rgb(255, 252, 243);
  height:calc(100vh + 92px);
  align-items: center;
  max-width: 1920px;
}
.headerContainer {
  display: flex;
  justify-content: center;
  margin-bottom: -104px;
  > div {
    display: flex;
    background: rgb(255, 252, 243);
    width: 560px;
    justify-content: center;
    align-items: center;
  }
}

.header {
  font-family: "Syne";
  font-weight: 800;
  font-size: 78px;
  background: rgb(255, 252, 243);
  width: 80vw;
  &:hover {
    color: rgba(0, 188, 143, 1);
  }
}
.skillContainer {
  border: solid 4px rgb(0, 0, 0);
  min-height: 592px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 145px;
  margin: 69px;
  text-align: center;
  > div {
    display: flex;
    gap: 10vw;
    flex-wrap: wrap;
    justify-content: center;
    > div {
      display: flex;
      flex-direction: column;
      color: black;
      font-family: "Overpass";
      font-size: 16px;
      > img {
        height: 67px;
        filter: brightness(0);

        &:hover {
          filter: none;
        }
      }
    }
  }
}
.arrowRight {
  height: 184px;
  padding-left: 95px;
}

@media screen and (max-width: 1380px) {
  .headerContainer {
    font-size: 57px;
    > div {
      width: 421px;
    }
  }
  .skillContainer {
    gap: 0;
    > div {
      gap: 9vw;
      margin: 21px;
      margin-top: 73px;
    }
  }
}
@media screen and (max-width: 1170px) {
  .headerContainer {
    font-size: 46px;
    margin-bottom: -92px;
    > div {
      width: 337px;
    }
  }
}

@media screen and (max-width: 960px) {
  .headerContainer {
    font-size: 46px;
    > div {
      width: 329px;
    }
  }
  .arrowRight {
    height: 115px;
  }
}
@media screen and (max-width: 637px) {
  .skillContainer {
    margin: 6px;
    min-height: 0px;
  }
  .headerContainer {
    font-size: 31px;
    margin-bottom: -23px;
    > div {
      width: 226px;
    }
  }
}
@media screen and (max-width: 506px) {
  .containerMySkill{
    height: calc(100vh + 132px);
  }
  .headerContainer {
    font-size: 31px;
    margin-bottom: 0px;
  }
}
@media screen and (max-width: 430px) {
  .skillContainer {
    > div {
      gap: 7vw;
      margin: 1px;
      margin-top: 12px;
    }
  }
  .headerContainer {
    font-size: 31px;
    margin-bottom: 0px;
  }
}
@media screen and (min-width: 1921px) {
  .skillContainer {
    margin: -3px;
    > div {
      gap: 10vw;
     
      > div {
        font-size: 20px;
        > img {
          height: 120px;
}}}}
.headerContainer{
  margin-bottom: -39px;
}}
