.container{
    background: rgba(255, 252, 243, 1);
    position: sticky;
    top: 0;
    z-index: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    >div{
        height: 92px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-left: 36px;
        padding-right: 36px;
        max-width: 1920px;
        width: 100vw;
        >span{
            font-size: 40px;
            font-family: 'Syne';
        }
        >img{
            height: 32px;
            width: 40px;
            cursor: pointer;
        }
    }
}
.logo{
    height: 67px!important;
    width: auto!important;
}
.flipp{
    cursor: pointer;
    font-size: 32px;
   
}
