<div class="barContainer">
  <div class="boxWithLinks">
    <a
      (click)="closeNavBar()" class="nav-link active button type1" aria-current="page"href="#aboutMe">About Me</a>
    <a (click)="closeNavBar()" class="nav-link button type1" href="#mySkills">My Skills</a>
    <a (click)="closeNavBar()" class="nav-link button type1" href="#portfolio">Portfolio</a>
    <a (click)="closeNavBar()" class="nav-link button type1" href="#contact">Contact</a>
  </div>
  <div>
    <div class="boxWithIcons"></div>
    <app-footer></app-footer>
  </div>
</div>
