<div class="barContainer">
  <div class="boxWithLinks">
    <a
      (click)="closeNavBar()" class="nav-link active button type1" aria-current="page"href="#aboutMe">{{ 'headerM.header' | translate }}</a>
    <a (click)="closeNavBar()" class="nav-link button type1" href="#mySkills">{{ 'headerM.header2' | translate }}</a>
    <a (click)="closeNavBar()" class="nav-link button type1" href="#portfolio">{{ 'headerM.header3' | translate }}</a>
    <a (click)="closeNavBar()" class="nav-link button type1" href="#contact">{{ 'headerM.header4' | translate }}</a>
  </div>
  <div>
    <div class="boxWithIcons"></div>
    <app-footer></app-footer>
  </div>
</div>
