<div class="content">
<div class="startScreen">
  <div>
    <span>{{ 'landingPage.title' | translate }}</span>
    <span>{{ 'landingPage.title2' | translate }}</span>
  </div>
  <div class="sektionName">
    <div><img src="/assets/img/vector.png" alt="" /></div>
    <span class="name">Björn ten Eicken</span>
  </div>
  <div class="sektionBottom">
    <a href="mailto:bjoernteneicken@gmail.com">bjoernteneicken&#64;gmail.com</a>

    <a href="#aboutMe" id="scrollContainer"
      ><img src="/assets/img/arrow.png" alt="" />
      <span class="dropBox">Scroll<br />Down</span>
    </a>
  </div>
</div>
</div>