<div class="contactContainer">
  <div class="contactHeader"><span>Say Hi!</span></div>
  <div class="contactInfo">
    <span class="sampleOne">Want discuss a new project?</span>
    <span class="sampleTwo"
      >Say hello! let's discuss your ideas and make it happen</span
    >
  </div>
  <div class="contactForm">
    <input type="text" placeholder="Your name" />
    <input type="text" placeholder="Your email" />
    <input type="text" placeholder="Your message" />
    <div class="checkBox">
      <span
        >I've read the <span class="switch">privacy police </span>and agree to the processing of
        my data as outlined.</span
      >
    </div>
    <button>Send message</button>
  </div>
</div>
