<div class="footer">
  <div class="leftSide">
    <div>
        <img class="logo" src="/assets/img/BTE 480x480_WHITE.png" alt="">
    </div>
    <div>
        <img src="/assets/img/copyright_white.png" alt="" />
      <span>Björn ten Eicken 2024</span>
    </div>
  </div>
  <div class="rightSide">
    <div>
      <img src="/assets/img/github.png" alt="" /><img
        src="/assets/img/email.png"
        alt=""
      /><img src="/assets/img/linkedin.png" alt="" />
    </div>

    <div>
      <span>Legal notice</span>
    </div>
  </div>
</div>
