<div class="footer">
  <div class="container">
  <div class="leftSide">
    <div>
      <img
        class="logo"
        src="/assets/img/BTE 100px_Ohne Frame_WHITE.png"
        alt=""
      />
    </div>
    <div>
      <img src="/assets/img/copyright_white.png" alt="" />
      <span>Björn ten Eicken 2024</span>
    </div>
  </div>
  <div class="rightSide">
    <div>
      <a href="https://github.com/HomeBjo"  target="_blank">
        <img class="imgHover" src="/assets/img/github.png" alt=""
      /></a>

      <a href="mailto:bjoernteneicken@gmail.com"
        ><img class="imgHover" src="/assets/img/email.png" alt=""
      /></a>
      <a href="https://www.linkedin.com/in/bj%C3%B6rn-ten-eicken-04172126b/"
      target="_blank" ><img class="imgHover" src="/assets/img/linkedin.png" alt=""
      /></a>
    </div>

    <div>
      <a [routerLink]="['/legalnotice']">{{ 'footer.legal' | translate }}</a>
    </div>
  </div>
</div>
</div>
