.footer {
  background-color: rgb(0, 0, 0);
  display: flex;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container{
  height: 69px;
  padding: 36px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1920px;
  width: 100vw;
}

.rightSide {
  display: flex;
  flex-direction: column;
  gap: 10px;
  > img {
    height: 40px;
  }
  .imgHover {
    &:hover {
      cursor: pointer;
      transform: scale(1.5);
      filter: drop-shadow(0 0 3px #4fbeff);
    }
  }

  > div {
    gap: 42px;
    display: flex;
    align-items: baseline;

    justify-content: end;
    > a {
      font-size: 16px;
      font-family: "Overpass";
      color: rgba(255, 252, 243, 1);
      font-weight: 400;
      margin: 4px;
      text-decoration: none;
      &:hover {
        transform: scale(1.1);
        filter: drop-shadow(0 0 3px #4fbeff);
      }
    }
  }
}
.leftSide {
  flex-direction: column;
  display: flex;
  > div {
    > span {
      font-size: 23px;
      font-family: "Overpass";
      color: rgba(255, 252, 243, 1);
      font-weight: 400;
    }
    > .logo {
      height: 67px;
    }
  }
  > div {
    display: flex;
    align-items: flex-start;
  }
}

@media screen and (max-width: 637px) {
  .container{
    padding: 0;
  }
  .leftSide {
    flex-direction: column;
    display: flex;
    > div {
      > span {
        font-size: 19px;
      }
    }
  }
  .footer {
    padding: 44px;
  }
  .rightSide {
    > div {
      gap: 8px;
      > a {
        &:hover {
          transform: scale(1.1);
        }
      }
    }
  }
}
@media screen and (max-width: 560px) {
  .footer {
    height: 121px;
    padding: 0;
    justify-content: center;
  }
  .leftSide {
    > div {
      > span {
        font-size: 14px;
        width: 83px;
      }
    }
  }
  .container{
    padding: 0;
    padding-left: 36px;
    padding-right: 36px;
  }
}
